.top-navigation {
    display: flex;
    overflow: hidden;
    background-color: royalblue;
    top: 0;
    width: 100%;
    height: 70px;
    align-items: center;
}

.top-navigation span {
    color: white;
}

.center-group {
    margin-left: auto;
    margin-right: auto;
}

.signup-button, .login-button {
    transition: color 300ms, background-color 300ms;
    margin: 0 20px;
    background-color: white;
    width: 130px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.top-navigation button:hover {
    color: white;
    background-color: transparent;
    transition: color 300ms, background-color 300ms;
    cursor: pointer;
}

.logo {
    margin-left: 20px;
    font-size: 40px;
    font-style: italic;
    text-decoration: underline white;
}
.main {
    margin-top: 30px;
}