.list-card-manager {
    width: 100%;
    height: 100px;
    background-color: azure;
    padding: 9px 16px;

    display: flex;
    flex-direction: row;

    margin-bottom: 20px;

    align-items: center;
    justify-content: space-between;
}

.list-card-manager input {
    font-size: 22px;
    margin-right: 20px;
    width: 50px;
    text-align: center;
}

.book-info {
    margin-left: 10px;
    font-size: 22px;
}

.list-card-manager > div {
    max-width: 70%;
}

.book-price {
    font-size: 22px;
    margin-right: 20px;
}

.purchase-button {
    font-size: 20px;
}
